<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>PRJ321x_ASM3_hansfx14966</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<!-- <welcome-file>home.jsp</welcome-file> -->
	</welcome-file-list>

	<servlet>
		<servlet-name>SearchController</servlet-name>
		<servlet-class>controller.SearchController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SearchController</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ProductController</servlet-name>
		<servlet-class>controller.InformationProductController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ProductController</servlet-name>
		<url-pattern>/product</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AddToCartController</servlet-name>
		<servlet-class>controller.AddToCartController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AddToCartController</servlet-name>
		<url-pattern>/addtocart</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>controller.LoginServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LogoutController</servlet-name>
		<servlet-class>controller.LogoutServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LogoutController</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PayController</servlet-name>
		<servlet-class>controller.PayController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PayController</servlet-name>
		<url-pattern>/pay</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RegisterController</servlet-name>
		<servlet-class>controller.RegisterController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>RegisterController</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AccountController</servlet-name>
		<servlet-class>controller.AccountController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AccountController</servlet-name>
		<url-pattern>/account</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>5000</session-timeout>
	</session-config>

	<!-- <resource-ref> <description>DB Connection</description> <res-ref-name>jdbc/ShoppingDB</res-ref-name> 
		<res-type>javax.sql.DataSource</res-type> <res-auth>Container</res-auth> 
		</resource-ref> -->


	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/shoppingdb</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
</web-app>